* {
  margin: 0;
}

body {
  background-color: rgb(59, 3, 3);
}

.grid-container {
  display: grid;
  grid-template-columns: .5fr 1fr;
  grid-template-rows: .7fr 1.3fr 1fr;
}

.image {
  display: grid;
  background-color: white;
  width: 310px;
  height: 301px;
  border-radius: 8px;
  float: left;
  margin-left: 60%;
  margin-top: 100px;
}

.title {  
  display: grid;
}


#one {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
}

#two {
  display: grid;
  grid-column: 2/2;
  grid-row: 1/2;
}

#three {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
  padding-left: 60%;
  padding-top: 5%;
}

#three-parts {
  display: grid;
  grid-row: 2/3;
  grid-column: 1/2;
  padding-left: 60%;
  padding-top: 5%;
}

#four {
  display: grid;
  grid-column: 2/2;
  grid-row: 1/2;
  padding-left: 35%;
  margin-top: 470px;
}

h2 {
  color: white;
  font-size: 50px;
  display: grid;
  font-family: 'Cinzel', serif;
  margin-top: 15%;
  margin-left: 100px;
}

h3 {
  color: white;
  display: grid;
  font-family: 'Bebas Neue';
  font-size: 25px;
  font-weight: 100;
  grid-column: 2/2;
  grid-row: 1/1;
  margin-top: 20%;
  margin-left: 18%;
}

h4 {
  color: white;
  font-size: 35px;
  font-family: 'Cinzel', serif;
  grid-column: 2/2;
  grid-row: 3/3;
}

h5 {
  color: white;
  font-size: 30px;
  display: grid;
  font-family: 'Cinzel', serif;
  grid-column: 1/2;
  grid-row: 3/3;
  margin-top: 170%;
}

.circle {
  background-color: grey;
  display: grid;
  margin: 10px;
  }

#breaks {
  display: inline-flex;
  grid-column: 2/2;
  grid-row: 2/2;
 
}

.phone {
  filter: grayscale(100%);
  display: flex;
  height: 40px;
  grid-column: 1/2;
  grid-row: 3/3;
}

.location {
    filter: grayscale(100%);
    display: flex;
    height: 80px;
  }

p {
  color: white;
  font-family: 'Bebas Neue';
}

.email {    
  filter: grayscale(100%);
  display: flex;
  height: 80px;
}

.linkedin {
  filter: grayscale(100%);
  display: flex;
  height: 80px;
}

.social-media {
  filter: grayscale(100%);
  display: flex;
  height: 50px;
  width: 50px;
  justify-content: space-evenly;
}

.professional-history p {
  display: grid;
  flex-direction: column;
  padding-top: 80px;
  
}

.professional-history {
  display: grid;
}
